<%- include('partials/header') %>


<h1>Purchase Edibles</h1>

<a class="btn btn-light btn-lg" href="/signUp" role="button">Sign up</a>
<br><br>
<a class="btn btn-dark btn-lg" href="/signIn" role="button">Sign in</a>
 <%- include('partials/footer') %>
